body{
  background-color: rgb(126, 0, 161);
  margin: 0;
  padding: 0;
  color: white;
}
.home{
  height: 100vh;
  width: 100%;
}
.quote{

  background-color: rgba(255, 16, 80, 0.943);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
  padding: 5px 20px 5px 20px;
  width: 32rem;
  border-radius: 15px;
  margin:1.2rem auto 1.2rem auto;
}
.quote .content{

  font-size: 20px;
  width: 85%;
  margin:25px auto 3rem auto;
}
.quote .author{
  font-weight: bold;

}

.next-btn{
  all: initial;
  padding: 8px 35px 8px 35px;
  margin: auto;
  border-radius: 5rem;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 159, 72);
}

.tag-list{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 2rem;
}
select {
  font-size: 1em;
  color: #333;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}

option {
  font-size: 1em;
  color: #333;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 15px;
}


/* loader css */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin .8s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 767px){
  
  .quote{
    width: 85%;
  }
  select{
    font-size: .9rem;
  }
}